	<% if current_user.nil? %>
		<div id="logout"><%=link_to "Logout", logout_users_path, id:'logout' %></div>
	<% else %>
		<div id="spotify-link">
			<a href='/auth/spotify'> <button class="btn btn-lg btn-success" id="login">Log in with Spotify</button></a>
	<% end %>		