<div class="home-page" id="gradient"> 
	<div id= "home-title">
		<h1 id="title"> Spotify Artist <br>Recommendations </h1>
	</div>
</div>
<div id="spotify-link">
	<a href='/auth/spotify'> <button class="btn btn-lg btn-success" id="login">Log in with Spotify</button></a>

</div>

<p class="footer" id="footer-about"> About </p>
<p class="footer" id="footer-text"> Analyzes a user's saved tracks and shows connections between recommended artists. <br>Created by <a href="https://github.com/skoltz">Steve Koltz</a></p>
     